html,
body {
  padding: 0;
  margin: 0;
  font-family: freight-sans-pro, sans-serif;
  background-color: #fdfffc;
}

h1 {
  font-family: droid-sans, sans-serif;
}

h2 {
  font-family: droid-sans, sans-serif;
}

h3 {
  font-family: droid-sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
